:root {
    --color-00: #FFFFFF;
    --color-01: #D9D9D9;
    --color-02: #000000;
    --color-03: #1E1E1E;

    --color-04: #FF0000;
    --color-05: #FF3B30;
    --color-06: #34C759;
    --color-07: #14AE5C;
    --color-08: #87C7F6;
    --color-09: #0D5ADE;
}